.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks

# Bundler
Gemfile.lock
bin/*
.bundle/*

# Kitchen
.kitchen/
.kitchen.local.yml

# Build artifacts
sloccount.sc
checkstyle.xml
.coverage
VERSION
